.user-page {
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
    background-color:#023047;
    color:white;
}

.user-container {
    display:flex;
    flex-direction:row;
    border:solid black 1px;
    padding: 3%;
    margin-bottom:3%;
    box-shadow: 5px 10px 15px;
    background-color:azure;
    font-size:larger;
    color:black;
    align-items:center;
    width:90vw;
}

.four {
    display:flex;
    justify-content:center;
    align-items:center;
    top:3%;
    right:1%;
    border:solid black 1px;
    padding:5%;
    margin-right:5%;
    box-shadow: 3px 6px 10px;
}

a.back-link {
    text-decoration:none;
    border:solid white 2px;
    padding: 1%;
    width:fit-content;
    color:white;
}

a.back-link:hover {
    background-color:white;
    color:black;
    transition:all 0.2s ease-in-out;
}

.loading-text {
    font-size:60px;
    font-weight:bolder;
    border:solid white 5px;
    padding:20px 80px 20px 80px;
    box-shadow: 10px 15px 25px black;
}


@media screen and (max-width:700px) {
    .user-container {
        flex-direction:column;
        width:90%;
        height:90%;
        padding:20%;
    }

    .user-page {
        flex-direction:column;
    }

}